.feature {
  display: flex;
  align-items: center;
}
.feature__text {
  max-width: 90px;
  font-weight: bold;
}

.feature__icon--elem {
  fill: $white;
  width: 35px;
  height: 35px;
  margin-right: 14px;
}
