.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: bold;

  @include tablets {
    align-items: center;
  }
}
.header__phone-number {
  padding-top: 6px;

  @include tablets {
    display: none;
  }
}
