.socials {
  display: flex;
  align-items: flex-end;

  @include phones {
    margin-top: 8px;
  }
}
.socials__item {
  display: flex;
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: $grey;

  &:hover {
    fill: $black;
  }
}
