$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$yellow: #FEDB3F;
$black: #292929;

@import "./blocks/layout.scss";


//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
