@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}
@mixin intermediate {
  @media screen and (max-width: $intermediate) {
    @content;
  }
}